<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cyclists</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: #a6eeff">
	<div class="bg-dark navbar navbar-static-top navbar-header">
		<div class="float-left">
			<a class="btn btn-secondary" th:href="@{/login?logout}">Logout</a>
			<a class="btn btn-info m-2" th:href="@{/index}">Index</a>
		</div>
		<div class="float-right">
			<a class="btn btn-info m-2" th:href="@{/maillot}" sec:authorize="hasRole('ROLE_ADMIN')">Maillots</a>
			<a class="btn btn-info m-2" th:href="@{/port}" sec:authorize="hasRole('ROLE_ADMIN')">Ports</a>
			<a class="btn btn-info m-2" th:href="@{/stage}" sec:authorize="hasRole('ROLE_ADMIN')">Stages</a>
			<a class="btn btn-info m-2" th:href="@{/team}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_TEAM')">Teams</a>
		</div>
	</div>
	<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Cyclists</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a th:href="@{/cyclistForm?id=-1}" class="btn btn-success float-right m-3" sec:authorize="hasRole('ROLE_TEAM')">Add</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                    	<th>Name</th>
                    	<th>Dorsal</th>
                    	<th>Age</th>
                    	<th>Picture</th>
                    	<th>Team name</th>
                    	<th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cyclist : ${cyclists}">
                        <td><span th:text="${cyclist.name}"></span></td>
                        <td><span th:text="${cyclist.dorsal}"></span></td>
                        <td><span th:text="${cyclist.age}"></span></td>
                        <td><img th:src="${cyclist.picture}" style="max-height: 50px;"/></td>
                        <td><span th:text="${cyclist.team.teamname}"></span></td>
                        <td>
                            <a th:href="@{/cyclistForm(id=${cyclist.id})}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_CYCLIST') or hasRole('ROLE_TEAM')" class="btn btn-rounded btn-warning m-1 text-white font-weight-normal">Edit</a>
                        </td>
                        <td>
                            <form th:action="@{/deleteCyclist(id=${cyclist.id})}" sec:authorize="hasRole('ROLE_TEAM') or hasRole('ROLE_ADMIN')" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?');"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>