<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Maillot Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: #a6eeff">
	<div class="bg-dark navbar navbar-static-top navbar-header">
		<div class="float-left">
			<a class="btn btn-secondary m-2" th:href="@{/login?logout}">Logout</a>
			<a class="btn btn-secondary m-2" th:href="@{/maillot}">Back</a>
		</div>
	</div>
	<div class="row" style="text-align: center">
        <div class="col-md-4 mx-auto" style="display: inline-block">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Add maillot</h3>
                </div>
                <div class="card-body">
                    <form class="form" action="#" th:action="@{/addMaillot}" th:object="${maillot}" method="post">
                        <div class="form-group">
                            <label for="maillotcode">Code</label>
                            <input type="text" name="maillotcode" th:value="${code}" th:field="*{code}" required class="form-control form-control-lg rounded-0">
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" name="color" id="color" th:value="${color}" th:field="*{color}" required class="form-control form-control-lg rounded-0">
                        </div>
                        <div class="form-group">
                            <label for="prize">Prize</label>
                            <input type="number" name="prize" id="prize" th:value="${prize}" th:field="*{prize}" required class="form-control form-control-lg rounded-0">
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" name="type" id="type" th:value="${type}" th:field="*{type}" required class="form-control form-control-lg rounded-0">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success float-right" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>